<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>상품 페이지</title>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% content.forEach(function(val){ %>
            <li><%= val %></li>        
        <% }); %>
    </ul>
</body>
</html>